# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# production
/build
/dist
/dist-server

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# vscode
.vscode/
.history/

# node_modeules
node_modules/

# code agent
CLAUDE.md
.claude
.codex-dev-*.log
